{% extends "::base.html.twig" %}

{% block title %}AppBundle:Calculator:add{% endblock %}

{% block body %}
<h1>Welcome to the Calculator:add page</h1>
    {{ n1 }} plus {{ n2 }} est égal à {{ result }}
{% endblock %}
