{% extends "::base.html.twig" %}

{% block title %}AppBundle:DoctrinePlayground:index{% endblock %}

{% block body %}
<h1>Welcome to the DoctrinePlayground:index page</h1>

    {% for book in books %}
        <li>
            <a href="{{ path('book_details', { id:book.id }) }}">{{ book.title }}</a>
        </li>
    {% endfor %}
{% endblock %}
